$colour-background-default: #f9f7fc;
$colour-font-white: #fff;
$colour-text-black: #333;
$colour-text-navy: #0a1633;
$colour-box-shadow-default: #cccccc;

$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
